<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Reservation Confirmation</title>
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
    }

    p {
        color: #555;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    strong {
        color: #333;
    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .header {
        background-color: #001E3C;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .footer {
        background-color: #001E3C;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>

<body>
    <div class="container">
        <div class="header">
            <h1>Room Reservation Confirmation</h1>
        </div>
        <div class="content">
            <p>Dear <%= displayName %>,</p>
            <p>We are pleased to inform you that your room reservation has been processed successfully.</p>
            <p>Reservation details:</p>
            <ul>
                <li><strong>Check-In Date:</strong> <%= inDate %></li>
                <li><strong>Check-Out Date:</strong> <%= outDate %></li>
                <li><strong>Name Hotel:</strong> <%= hotel_name %></li>
            </ul>
            <p>If you have any questions or need to make changes to your reservation, please do not hesitate to contact
                us.</p>
            <p>Thank you for choosing our hotel. We look forward to welcoming you soon!</p>
        </div>
        <div class="footer">
            <p>Sincerely,<br>Diamond agency ©</p>
        </div>
    </div>
</body>

</html>
